:root {
    /* colors */
    --rich-black: #023c40;
    --dark-jungle-green: #092324;
    --white: #f0efef;
    --blue-crayola: #7C9EB2;
    --sizzling-red: #ff495c;
    --pale-dogwood: #CCB7AE70;
    --off-white: #f4f1f6;
    --off-white-point7: #f4f1f670;
}

/* FONTS */
@font-face {
    font-family: Cairo;
    src: url(../assets/fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: secular-one;
    src: url(../assets/fonts/Secular_One/SecularOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

/* main view */
body {
    background: var(--off-white);
    font-family: montserrat, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100px;
    flex-direction: column;
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    background: var(--off-white-point7);
    backdrop-filter: blur(10px);
    z-index: 999;
}

/* main navigation */
nav.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: sticky;  
    top: 0;
    height: 100%;
}
.logo {
    color: var(--dark-jungle-green);
    text-decoration: none;
    font-family: secular-one, sans-serif;
    font-size: 1.1rem;
    transition: 0.5s;
}
.logo:hover {
    color: var(--sizzling-red);
}
nav.main .menu .menu-item {
    font-family: montserrat, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--dark-jungle-green);
    margin-left: 10px;
    padding: 15px 10px;
    transition: 0.4s;
    position: relative;
    font-weight: 600;
}
nav.main .menu .menu-item::before {
    width: 0;
    height: 3px;
    content: '';
    background: var(--dark-jungle-green);
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.4s;
}
nav.main .menu .menu-item:hover::before {
    width: 100%;
}


/* cta-btn */
.cta-btn {
    background: var(--dark-jungle-green);
    color: var(--white);
    margin-left: 10px;
    padding: 10px 30px;
    transition: 0.4s;
    position: relative;
    font-weight: 600;
    font-family: montserrat, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid var(--dark-jungle-green);
}
.cta-btn:hover {
    background: transparent;
    color: var(--dark-jungle-green);
}


/* media queries for navigation */
@media screen and (max-width: 900px) {
    * {
        scroll-padding-top: 70px;
    }
    header {
        height: 70px;
    }
    nav.main{
        padding: 0 10px;
        position: relative;
    }
    .menu-toggle {
        width: fit-content;
        height: fit-content;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .bar {
        width: 30px;
        height: 3px;
        background: var(--dark-jungle-green);
        border-radius: 10px;
        display: block;
        margin: 6px auto;
        transition: all ease-in-out 0.4s;
    }
    .bar:nth-child(2){
        width: 20px;
    }
    .toggle-active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .toggle-active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
    nav.main .menu {
        position: absolute;
        top: -1000px;
        opacity: 0;
        display: grid;
        width: 100%;
        left: 0;
        text-align: center;
        background: var(--dark-jungle-green);
        transition: 0.5s;
        padding: 20px;
    }
    nav.main .drop-active {
        top: 100%;
        opacity: 1;
    }
    nav.main .menu .menu-item {
        margin: 0;
        color: var(--off-white);
        letter-spacing: 3px;
        padding: 20px 0;
    }
    nav.main .menu .cta-btn {
        margin: 0;
        color: var(--dark-jungle-green);
        letter-spacing: 3px;
        padding: 10px 20px;
        background: var(--blue-crayola);
    }
    nav.main .menu .menu-item:hover {
        background: var(--sizzling-red);
    }
    nav.main .menu .menu-item::before{
        display: none;
    }
}


/* hero section */
section.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 30px;
    width: 100%;
}
section.hero .title {
    font-size: 1.3rem;
}
section.hero .image-container {
    width: 80%;
    max-height: 400px;
    max-width: 400px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
section.hero .image-container img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}
section.hero .content {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
section.hero .content h2 {
    font-size: 2rem;
}
section.hero .content p {
    margin: 20px auto;
    font-size: 1.1rem;
}
section.hero .content .socials {
    font-size: 2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
section.hero .content .socials a {
    color: var(--dark-jungle-green);
    opacity: 0.5;
    transition: 0.5s;
}
section.hero .content .socials a:hover {
    opacity: 1;
}


/* services section */
section.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 30px 0;
    background: var(--blue-crayola);
}
section.services .title {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--dark-jungle-green);
    margin: 10px;
    text-decoration: underline; 
}
section.services .card-section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
}
section.services .card-section .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 30px 20px;
    padding: 10px;
    text-align: center;
    background: var(--off-white-point7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: 0.4s;
    cursor: default;
}
section.services .card-section .card .icon {
    font-size: 3rem;
    color: var(--rich-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.services .card-section .card .description {
    font-size: 1.1rem;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
section.services .card-section .card:hover {
    scale: 1.1;
}

/* portfolio section */
section.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}
section.portfolio .title {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--dark-jungle-green);
    margin: 10px;
    text-decoration: underline;
}
section.portfolio .container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}
section.portfolio .container .image-container {
    width: 500%;
    max-width: 500px;
    height: 300px;
    height: auto;
    max-height: 300px;
    overflow: hidden;
    margin: 20px;
}
section.portfolio .container .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* feedback section */
section.feedback {
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: montserrat, sans-serif;
    background: var(--rich-black);
}
section.feedback .title {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white);
    margin: 10px;
    text-decoration: underline;
}
section.feedback form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    min-width: 300px;
}
section.feedback form input {
    width: 100%;
    height: 35px;
    margin: 5px;
    background: var(--off-white-point7);
    outline: none;
    border: none;
    padding: 5px;
    color: var(--dark-jungle-green);
    overflow: auto;
    font-size: 1rem;
}
section.feedback form textarea{
    width: 100%;
    margin: 5px;
    background: linear-gradient(-120deg, #f4f1f640, #f4f2f680);
    background-size: 100%;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    padding: 5px;
    color: var(--dark-jungle-green);
    overflow: auto;
    font-size: 1rem;
    font-family: montserrat, sans-serif;
}
section.feedback form input::placeholder, section.feedback form textarea::placeholder {
    opacity: 1;
    color: var(--dark-jungle-green);
    font-family: montserrat, sans-serif;
}
button[type=submit]{
    background: var(--off-white);
    padding: 10px 40px;
    font-size: 1.1rem;
    margin: 10px;
    border: 2px var(--off-white) solid;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.4s;
}
button[type=submit]:hover {
    background: transparent;
    color: var(--off-white);
}

/* contact section */
section.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--rich-black);
    padding: 30px 0;
    color: var(--off-white);
    flex-direction: column;
} 
section.contacts a {
    text-decoration: none;
}
section.contacts .logo {
    font-size: 30px;
    color: var(--white);
}
section.contacts .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section.contacts .container .col {
    padding: 10px;
    margin: 10px;
    width: 95%;
    max-width: 300px;
    background: var(--off-white-point7);
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    color: var(--rich-black);
    font-weight: 600;
    transition: 0.4s;
}
section.contacts .container .col:hover {
    background: var(--blue-crayola);
}
section.contacts .container .col i {
    padding-right: 5px;
    margin-right: 10px;
}